body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3em;
    animation: fadeIn 2s ease-in-out infinite alternate, moveUpDown 4s ease-in-out infinite;
}

.emojis {
    font-size: 1.5em;
    display: inline-block;
    animation: bounce 1s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://github.com/promit144/love-message/blob/main/pxfuel%20(1).jpg') center/cover no-repeat; /* Replace with your image URL */
    opacity: 0.2;
    z-index: -1;
    animation: rotateBackground 30s linear infinite;
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
