body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background: url('https://github.com/promit144/love-message/blob/main/pxfuel%20(1).jpg?raw=true') center/cover no-repeat fixed; /* Updated background */
    background-size: cover; /* Ensure the image covers the entire background */
}

.container {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3em;
    animation: fadeIn 2s ease-in-out infinite alternate, moveUpDown 4s ease-in-out infinite;
}

.emojis {
    font-size: 1.5em;
    display: inline-block;
    animation: bounce 1s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
